body {
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}
.top-layer
{
	background:#f5f5f5;
	height:24px;
}
.container-fluid
{
	background:white;
}
.navbar-default
{
	border-color:white;
}
.navbar-right
{
	font-size:16px;
	margin-top:10px;
	margin-right:100px;	
}
ul#navbar.navbar-collapse.collapse.in li
{
	display:none;
	text-align:center;
}
.navbar-brand
{
	
}
.banner
{
	background-image:url("../img/main-bg.jpg");
	background-repeat:no-repeat;
	background-position:top left;
	width:100%;
	height:768px;
	margin-bottom:65px;
	padding:1px;
	position:relative;
}
.wrap-text
{
	position:relative;
	margin:0 auto;
	width:1000px;
}
.inner-banner
{
	background-image:url("../img/main_templates.png");
	position:relative;
	top:120px;
	width:605px;
	height:391px;
}
.text
{
	font-size:36px;
}
.text p
{
	text-align:center;
	padding-top: 100px;
	padding-bottom: 100px;	
}
.reviews
{
	height:300px;
	margin-top:100px;
	background-color:#f0ead8;
}
.reviews-text
{
	padding:86px;
}
.review-img
{
	background:url(../img/testimonials.png) -40px -14px no-repeat;
	display:block;
	width:503px;
	height:117px;
	margin:0 auto;
	z-index:0px;
}
.foto, .foto1, .foto2
{
	background:url(../img/testimonials.png) -31px -300px no-repeat;
	display:block;
	width:340px;
	margin:0 auto;
	margin-bottom: 60px;
	z-index:0px;
}
.foto1
{
	background-position: -389px -300px;
}
.foto2
{
	background-position:-733px -300px;
}
.msg, .msg1
{
	padding-top:30px;
}
.portfolio-item {
    margin-bottom: 25px;
    text-align:center;
}
.btn-round-lg{
border-radius: 22.5px;
}
ul.list-item li
{
	text-decoration:none;
	display:inline;
	font-size:18px;
	margin:20px;
}
ul.list-item
{
	margin-bottom:40px;
}
.heading h1
{
	font-size:52px;
	font-weight:400;
	margin:40px;
	margin-left:0px;
	width:80%;
}
img .img-responsive
{
	display:block;
	margin-left:auto;
	margin-right:right;
}
.grid-img1, .grid-img2, .grid-img3{
	background:url(../img/steps-features.png) 0 -31px no-repeat;
	width:270px;
	height:251px;
	margin:0 auto;
	display:block;
}
.grid-img2{
       background-position:-362px -31px;
}
.grid-img3{
       background-position:-733px -31px;
}
.grid-img4, .grid-img5, .grid-img6, .grid-img7{
        background:url(../img/steps-features.png) -18px -369px no-repeat;;
        width:172px;
        height:120px;
        margin:0 auto ;
        display:block;
}
.grid-img5{
  	background-position:-268px -369px;

}
.grid-img7{
       background-position:-784px -369px

}
.grid-img6{
       background-position:-521px -369px;

}
.grid-img4 p, .grid-img5 p, .grid-img7 p, .grid-img8 p
{
	padding-bottom:10px;
}

.temp h3
{
	font-size:36px;
	padding:60px;
	padding-bottom:30px;
	margin-top:50px;
	text-align:center;
	color:#27365F;
}
.temp p
{
	font-size:18px;
	text-align:center;
	padding-bottom:80px;
}
.endline
{
	height:150px;
	background:#E0C787;
}
.endline p
{
	font-size:23px;
	text-align:center;
	padding:30px;
	vertical-align:middle;
	color:#27365f;
}
.endline p a
{
	font-size:36px;
	color: #27365f;
}
.endline:hover 
{
	background: #27365f;
}
.endline:hover p, .endline:hover p a 
{
	color: #E0C787;
}
.long
{
	background-color:#1F2322;	
}
.set-footer
{
	padding-top:100px;
	padding-bottom:80px;
}
ul.basic-info li
{
	text-decoration:none;
	list-style-type:none;
	 color:#dadada;
}
ul.basic-info li:hover
{
	color:white;
}
.colr, .one
{
	color:#dadada;
}
.colr:hover, .one:hover
{
	color:white;
}

.carousel
{
	background:#f7f8f9;
	
}
#myCarousel
{
	padding-bottom:100px;
}	
ol.carousel-indicators li{
    background: #4A587F;
    border: 1px solid #4A587F;
}
.uppar_nav:hover
{
	color:white;
	text-decoration:none;
	background-color:red;
}
.uppar_nav:hover
{
	color:white;
	text-decoration:none;
	background-color:#6c6c70;
}

a.uppar_nav{
	text-decoration:none;
	margin-left:20px;
	color:#6c6c70;
}

.uppar_nav1
{
	margin-left:20px;
 	color:red;
}
.uppar
{
	background:#f5f5f5;
}
.slid
{
	margin:0 auto;
	
}
.portfolio-item p {
    height: 25px;
}
.inner-image{
    margin-top:90px;
}
@media only screen and (min-width : 320px) and (max-width : 650px) {
.reviews-text{
    padding:1%;
}
.review-img .row{
  margin-top:70px;
  margin-left:0px;
  margin-right:0px;
}
#myCarousel .row{
	padding-left:auto;
}
.review-img{
width:100%;
}
}

